@media screen {

	body {
		
		margin: 0 auto;
		padding: 0;
		
		width: 100%;
		height: 100%;
		
		font-family: Tahoma, Arial, Times New Roman;
		background: #F5F5F5;
		
	}
	
	#navigation-bar {
	
		width: 15%;
		height: 100%;
		
		background: #A7DF40;
		
		-webkit-box-shadow: 1px 5px 20px 1px #000000;
		box-shadow: 1px 5px 20px 1px #000000;
		
		font-size: 18px;
		color: #343434;
		font-weight: 600;
		
		position: fixed;
		
	}
	
	#fhv-logo {
		
		width: 90%;
		height: auto;
		
		display: block;
		margin: 10% auto;
		
		filter: drop-shadow(5px 5px 4px #3F3F3F);
		
	}
	
	#navigation-bar-paragraph {
		
		width: 100%;
		height: auto;
		
		padding: 25% 0 0 0;
		
	}
	
	#navigation-links-ul {
		
		list-style-type: none;
		text-align: center;
	
		width: 100%;
		margin: 0;
		padding: 0;
		
	}
	
	#navigation-links-ul li {
		
		display: block;
		padding: 6% 0;
		
	}
	
	#navigation-links-ul a {
		
		color: #343434;
		text-decoration: none;
		
	}
	
	#navigation-links-ul .sublink {
		
		color: #343434;
		text-decoration: none;
		
		font-size: 12px;
		padding-bottom: 4%;
		
	}
	
	#navigation-footer {
	
		width: 15%;
		height: 48px;
		
		text-align: center;
		font-size: 12px;
		
		position: fixed;
		bottom: 0;
		
	}
	
	#mail-icon {
	
		padding: 0 5%;
		
		width: 22px;
		height: auto;
	
	}
	
	#content {
	
		float: right;
		
		width: 80%;
		height: 80%;
		
		padding: 5% 2%;
		
		font-size: 14px;
	
	}
	
	h1, h2, h3 {
		font-family: Tahoma, Arial, Times New Roman;
	}
	
	#course-list-block {
		
		padding-left: 5%;
		padding-top: 1%;
		
		width: 75%;
		
	}
	
	#content #course-desc, #course-goals, #course-results {
		margin-top: 3.5%;
	}
	
	#content #course-results-table {
	
		margin-left: 10%;
	

	}
	
	#course-results-table th, td, tr {
	
		width: 170px;
		text-align: center;
	
	}
	
}


@media print {
	
	body {
		
		margin: 0 auto;
		padding: 0;
		
		width: 100%;
		height: 100%;
		
		font-family: Tahoma, Arial, Times New Roman;
		background: #F5F5F5;
		
		-webkit-print-color-adjust: exact !important;
	
	}
	
	#navigation-bar {
	
		width: 15%;
		height: 100%;
		
		background: lightgrey;
		
		-webkit-box-shadow: 1px 5px 20px 1px #000000;
		box-shadow: 1px 5px 20px 1px #000000;
		
		font-size: 14px;
		color: #343434;
		font-weight: 600;
		
		position: fixed;
		
	}
	
	#fhv-logo {
		
		width: 90%;
		height: auto;
		
		display: block;
		margin: 10% auto;
		
		filter: drop-shadow(5px 5px 4px #3F3F3F);
		
	}
	
	#navigation-bar-paragraph {
		
		width: 100%;
		height: auto;
		
		padding: 25% 0 0 0;
		
	}
	
	#navigation-links-ul {
		
		list-style-type: none;
		text-align: center;
	
		width: 100%;
		margin: 0;
		padding: 0;
		
	}
	
	#navigation-links-ul li {
		
		display: block;
		padding: 6% 0;
		
		font-size: 10px;
		
	}
	
	#navigation-links-ul a {
		
		color: #343434;
		text-decoration: none;
		
	}
	
	#navigation-links-ul #sublink {
		
		color: #343434;
		text-decoration: none;
		
		font-size: 8px;
		padding-bottom: 4%;
		
	}
	
	#navigation-footer {
	
		width: 15%;
		height: 48px;
		
		text-align: center;
		font-size: 8px;
		
		position: fixed;
		bottom: 0;
		
	}
	
	#mail-icon {
	
		padding: 0 5%;
		
		width: 12px;
		height: auto;
	
	}
	
	#content {
	
		float: right;
		
		width: 80%;
		height: 80%;
		
		padding: 5% 2%;
		
		font-size: 10px;
	
	}
	
	h1, h2, h3 {
		font-family: Tahoma, Arial, Times New Roman;
	}
	
	#course-list-block {
		
		padding-left: 5%;
		padding-top: 1%;
		
		width: 75%;
		
	}
	
	#content #course-desc, #course-goals, #course-results {
		margin-top: 3.5%;
	}
	
	#content #course-results-table {
	
		margin-left: 10%;
	

	}
	
	#course-results-table th, td, tr {
	
		width: 170px;
		text-align: center;
	
	}
	
	
}
